<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :task_name %>
    <%= form.text_field :task_name, id: "task", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :task_details %>
    <%= form.text_area :task_details, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :priority %>
    <%= form.select :priority, ['Low', 'Medium', 'High'], id: "priority", class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, ['Unstarted','In progress', 'Completed'], id: "status", class: 'form-control' %>
  </div>

   <div class="form-group">
      <%= form.label :deadline %>
      <%= form.datetime_select :deadline, id: "deadline", order: [:day, :month, :year, :hour, :minute], class: 'form-control', use_month_numbers: false %>
  </div>
   <button class="form-actions btn btn-primary w-75" type="submit">Create Task </button> 
<% end %>