<%= render "partials/header" %>
<p id="notice"><%= notice %></p>

<div class="container text-center">
<h1 class ="">General tasks list</h1> <br>


  <div class ='table-responsive '>
   <div class="d-flex">
      <div class=" mr-5">
        <a href = "<%= tasks_path(sort_expired: "true") %>" class="btn btn-primary">Sort by end deadline</a>
      </div>
      <div class="">
        <a href = "<%= tasks_path(sort_priority: "true") %>" class="btn btn-primary">Sort by priority </a>
      </div>
  </div> <br>
    <table class = "table table-striped table-hover border" >
      <thead>
        <tr>
          <th>Task name </th>
          <th>Description </th>
          <th>Priority </th>
          <th>Status </th>
          <th>Deadline </th>
          <th>Actions </th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            
            <td class="task_row" ><%= task.task_name %></td>
            <td><%= truncate(task.task_details, length: 50) %></td>
            <td><%= task.priority %></td>
            <td><%= task.status %></td>
            <td class="deadline_row" ><%= task.deadline %></td>
            <td>
              <a href = "<%= task_path(task.id) %>" class="btn btn-primary">Show</a>
              <a href = "<%= edit_task_path(task.id) %>" class="btn btn-warning">Edit</a>
              <a href = "<%= task_path(task.id) %>" class="btn btn-danger", data-confirm="Are you sure?" data-method="DELETE">Destroy</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <div class="container pagination justify-content-center" >
      <%= paginate @tasks, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
    </div>
 
  </div>
</div> <br>