<header class="p-2 bg-primary text-white fixed-top ">
    <div class="container-fluid row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
     
        <div class="col-1">
            <a href="/" class="navbar-brand mb-2 mb-lg-0 text-white"><span class="">Everyleaf</span></a>
        </div>
        
        <div class="col-11">
                <% if logged_in? %> 
                <div class="row">

                    <div class="col-11 ">
                   
                        <div class="form-group d-flex justify-content-center mb-2 mb-lg-0 ">
                            <%= form_with url: tasks_path, method: :get, local: true, class:"form d-flex" do |f| %>
                            <%= f.label :task_name, class:" ml-1 mr-1 mt-2 w-50" %>
                            <%= f.text_field :task_name ,class: " mr-2" %>
                    
                            <%= f.label :status, class:"mr-1 mt-2" %>
                            <%= f.select( :status, ['Unstarted', 'In progress', 'Completed'], {include_blank: true}, {class: "form-select"}) %>
                            
                           
                            <%= f.label :label_id, class:"mr-1 mt-2 ml-2" %>
                            <%= f.select( :label_id, Label.all.collect { |p| [ p.label_name, p.id ] }, {include_blank: true}, {class: "form-select"}) %>
                           
                            <%= f.submit "Search", name: nil, data: { disable_with: false }, class: "btn btn-outline-light ml-2 mr-2" %>
                            <% end %>

                            <a href="<%= new_task_path %>" class="btn btn-warning ml-5" role="button">Add Task</a>
                            <a href="<%= admin_users_path %>" class="btn btn-info ml-3 mr-2" role="button">Users board</a>
                             <%= link_to "Log out", session_path(current_user.id), method: :delete, class:"btn btn-danger" %>
                        </div>
                        
                    </div>
                        
                    <div class="dropdown  col-1">
                    
                        <a href="" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/avatar.png" class="rounded-circle",height="32", width="32", alt="Avatar" >
                        </a>
                        <ul class="dropdown-menu text-small text-decoration-none" aria-labelledby="dropdownUser">
                            <li class = "dropdown-item btn justify-content-center"><a class="btn btn-success" href="/profil">Mon profil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class ="dropdown-item btn justify-content-center text-decoration-none">
                                <%= link_to "Log out", session_path(current_user.id), method: :delete, class:"btn btn-danger" %>
                            </li>
                        </ul>
                    </div> 

                </div>
                <% end %>
            
        </div>
         
    </div>
</header>
