<%= render "partials/header" %>
<p id="notice"><%= notice %></p>
<div class="d-flex flex-row justify-content-center align-items-center container">
<div class="">
<h1 >My account details</h1> <br>
  <p>
    <strong>Username: </strong>
    <%= @user.username%>
  </p>

  <p>
    <strong>email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-warning" %> |
  <%= link_to 'Back', tasks_path , class: "btn btn-danger"%>
  </div>

</div>