<%= render "partials/adminusersindex" %>
<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center" style = "border: 1px solid;">

  <h1 class ="d-flex flex-column container justify-content-center align-itmes-center">Editing user account</h1>

  <%= form_with(model: [:admin, @user], local: true, url: edit_or_create(@user), html: {class:'form-horizontal'}) do |f| %>
    <%= render "partials/userserrorsany", user: @user %>
    <div class="form-group mt-1">
      <%= f.text_field :lastname, placeholder: 'Last Name', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.text_field :firstname, placeholder: 'Fist name', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=f.label :email %>
      <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=f.label :password %>
      <%= f.password_field :password, placeholder: 'Password here', class: 'form-control' %>
    </div>
    <div class="form-check">
      <%= f.label :admin, 'Admin ?' %>
      
      <%= f.check_box :admin %>
    </div>
    <div class="actions mt-1">
      <button class="btn btn-success w-100" type="submit">Update account</button>
    </div>
  <% end %>
  <a href = "<%= admin_users_path  %>" class="btn btn-dark w-100 mb-1">Back</a>
</div>